<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #errorContainer {
            height: 100vh;
            widows: 100%;
            background: #86C2FA;
        }

        #textcontainer {
            position: absolute;
            top: 20%;
            left: 10%;
        }

        #textcontainer #sad {
            font-size: 100px;
            color: white;
            margin-bottom: 0;
        }

        #textcontainer #text {
            font-size: 60px;
            color: white;
            margin: auto;
            margin-left: 100px;

        }
    </style>
</head>

<body>
    <div id="errorContainer">
        <div id="textcontainer">
            <p id="sad">:(</p>
            <p id="text">Sorry!! Result not found....</p>
        </div>
    </div>
</body>

</html>