<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div id="popup-container">
        <div id="popup">
            <form id="form" action="/popup1result" method="POST">
                <input type="number" name="recno" placeholder="Enter Recipt Number" min="1000" required>
                <input type="submit" value="Find">
            </form>
        </div>
    </div>

</body>

</html>